# venv and other virtual environments
**/venv/
**/.venv/
**/test_env/

# python
**/__pycache__/

# vscode
**/.vscode/

# cache data
**/cache/
*.pt

# package files
**/*.egg-info/

# logs
**/lightning_logs/

# temporary files
**/temp/

# windows scripts
**/*.bat
